TXTResults
TXTImages
texts
TestImages
settings
RGBImages
raw_texts
orc_sub
ILAImages
File_srt
dist
VideoSubFinderWXW.exe
token.json
Scan Sutitle.cmd
Scan Sutitle.bat
report.log
previous_video.inf
opencv_world410.dll
opencv_ffmpeg410_64.dll
main.py
main_ui_indo.spec
main_ui_1.spec
cudart64_101.dll
error.log
credentials.json